<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
</head>
<body>

<p th:text="${question.getTitle()}"></p>
<div th:each="answer : ${question.getAnswers()}">
    <p th:text="${answer}"></p>
</div>
<form th:method="POST" th:action="@{/course/question/{index}(index=${index})}">
    <label for="answer">Выберите правильный ответ: </label>
    <select id="answer" name="answer">
        <option th:each="answer : ${question.getAnswers()}" th:value="${question.getAnswers().get(__${answerStat.index}__)}"
                th:text="${question.getAnswers().get(__${answerStat.index}__)}"></option>
    </select>

    <input type="submit" value="Подтвердить">
</form>
</body>
</html>