<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
</head>
<body>

<p th:text="${question.getTitle()}">text</p>

<form th:action="@{/admin/questions/{questionId}/edit(questionId=${question.getId()})}"
th:object="${question}" th:method="PATCH">
    <label for="title">Вопрос: </label>
    <input type="text" th:field="*{title}" id="title">
    <br>
    <div th:each="answer : ${question.getAnswers()}" id="answerOptions">
        <label th:for="${answer__${answerStat.index}__}"
                th:text="${'Ответ __${answerStat.index + 1}__:'}"></label>
        <input type="text" th:field="*{answers[__${answerStat.index}__]}"
               th:id="${answer__${answerStat.index}__}" th:name="${answer__${answerStat.index}__}">
        <br>
    </div>
<!--    <button th:onclick="${'add_option(__${question.getAnswers().size()}__)'}">Добавить вариант ответа</button>-->
    <label for="correctAnswer">Введите верный ответ: </label>
    <select id="correctAnswer" th:field="*{correctAnswer}">
        <option th:each="answer : *{answers}" th:value="${question.getAnswers().get(__${answerStat.index}__)}"
                th:text="${'Вариант ' + __${answerStat.index + 1}__}"
                th:selected="${question.getCorrectAnswer() == question.getAnswers().get(__${answerStat.index}__)}"></option>
    </select>
    <br>
    <input type="submit" value="Изменить">
</form>
<hr>
<a th:href="@{/admin/questions/course/{id}(id=${question.getCourse().getId()})}"><button>Назад</button></a>
<br>
<a href="/admin/courses"><button>Все курсы</button></a>
<label for="answer4">Ответ 5</label>
<input type="text" th:field="*{answers[4]}" id="answer4" name="answer4">
<!--<script>-->
<!--    var counter-->
<!--    function add_option(startCounter) {-->
<!--        html = '<label for="answer' + startCounter + '>Ответ ' + (startCounter + 1) + '</label>\n' +-->
<!--            '<input type="text" th:field="*{answers[' + startCounter + ']}"' +-->
<!--            'id="answer' + startCounter + '" ' +-->
<!--            'name="answer' + startCounter + '">\n' +-->
<!--            '<br>'-->
<!--        if (counter == null) counter = startCounter + 1-->
<!--        else counter+=1-->

<!--        var optionsDiv = document.getElementById('answerOptions')-->
<!--        optionsDiv.innerHTML += html-->
<!--    }-->

<!--</script>-->

</body>
</html>