<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый вопрос</title>
</head>
<body>
<a th:href="@{/admin/courses/{id}(id=${course.getId()})}">
    <button th:text="${'Вернуться к курсу ' + course.getTitle()}">title</button>
</a>
<br>
<form th:method="POST" th:object="${question}" th:action="@{/admin/questions}">
    <label for="title">Введите вопрос: </label>
    <input type="text" id="title" th:field="*{title}">
    <br>
    <div th:each="answer : ${question.getAnswers()}">
        <label th:for="${answer__${answerStat.index}__}"
               th:text="${'Ответ __${answerStat.index + 1}__:'}"></label>
        <input type="text" th:field="*{answers[__${answerStat.index}__]}"
               th:id="${answer__${answerStat.index}__}">
        <br>
    </div>
    <label for="correctAnswer">Введите верный ответ: </label>
    <select id="correctAnswer" th:field="*{correctAnswer}">
        <option th:each="answer : *{answers}" th:value="${answerStat.index}"
                th:text="${'Вариант ' + __${answerStat.index + 1}__}"
                th:selected="${question.getCorrectAnswer() == question.getAnswers().get(__${answerStat.index}__)}"></option>
    </select>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>