<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<!--<p th:text="${person.getUsername()}">value</p>-->

<!--<div th:if="${books.isEmpty()}">Человек пока не взял ни одной книги</div>-->

<!--<div th:if="${!books.isEmpty()}">-->
<!--    <br><hr>-->
<!--    <p><b>Книги:</b></p>-->
<!--    <div th:each="book : ${books}">-->
<!--        <a th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"-->
<!--            th:href="@{/books/{id}(id=${book.getId()})}"-->
<!--            th:style="${book.isExpired()} ? 'color:red' : 'color:black'"></a>-->
<!--    </div>-->
<!--</div>-->

<div>Вы находитесь внутри профиля. Скоро здесь будет информация о курсах, которые вы прошли.</div>
<a href="/auth/hello"><button>Назад</button></a>
</body>
</html>